nav.navbar{
  ul{
    @include flex(row,space-between,stretch);
    list-style: none;

    li{
      padding:20px 20px;
      margin-right: 30px;
      a {
          color:white;
          text-decoration:none;
      }

      &:focus,&:hover{
        background-color: white;
        a {
          color:black;
        }
      }

    }
  }
}
