@import "~bootstrap/scss/bootstrap";

// variabili
$prodHeroHeight: 460px;

//comuni
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    header {
        height: 95.5px;
        background-color: lightblue;
    }
    section#prod-hero{
        height: $prodHeroHeight;
        background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        .prod-info {
            color: white;
            height: $prodHeroHeight;
        }

        .price-brick {
            height: $prodHeroHeight;
            background-color: #030a0c;
        }
    }
    nav#product-nav {
        height: 64.4px;
        background-color: lightblue;
    }
    section.lazy-loaded {
        height: 902.8px;
        background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
        background-size: cover;
        background-position: center bottom;
    }
    section.transition {
        height: 1003px;
        background-color: white;
    }
    section.key-pillars {
        height: 2177px;
        background-color: #222222;
        .row {
            justify-content: center;

            h2, h3, p{
                color: white;
            }
        }
        img.painting-tools {
            width: 770px;
        }
        img.pillar-canvas {
            width: 670px;
        }
        img.pillar-brushes {
            width: 670px;
        }

    }
}
