@import "~bootstrap/scss/bootstrap";

@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    @include my-display-flex;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    header {
        height: 95.5px;
        background-color: lightblue;
    }
    section#prod-hero{
        height: 460px;
        background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
        background-position: top center;
        background-repeat: no-repeat;
    }
    nav#product-nav {
        height: 64.4px;
        background-color: lightblue;
    }
    section.lazy-loaded {
        height: 902.8px;
        background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
        background-size: cover;
        background-position: center bottom;


    }
}

.red {
    background-color: red;
    height: 100%;
}

.price-brick {
    height: 100%;
    background-color: blue;
}
